In [1]:
# Data Types in python.
# 1. (Text Type) : str
# 2. (numeric Types) : int , float, complex
# 3. (Sequence Types) : list , tuple, range
# 4. (Mapping Type) : dict
# 5. (Set Types) : set, frozenset
# 6. (Boolean Type) : bool
# 7. (Binary Types) : bytes memoryview, bytearray

In [2]:
# Python Data Types.
# 1. (Text Type)
# (String Literals) :- 

print('Hello')
print("Hello")

Hello
Hello

In [3]:
a = "Hello"
print(a)

Hello

In [4]:
# Multiline string
a = """I'm learning Python. I refer to TeachBeamers.com tutorials. It is the most popular site for python programmers."""
print(a)

I'm learning Python. I refer to TeachBeamers.com tutorials. It is the most popular site for python programmers.

In [5]:
# 2 Numeric Data Types
# a. integer
# b. float
# c. complex

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(x)
print(y)
print(z)

1
2.8
1j

In [6]:
# a. int datatype
x = 1
y = 356567849
z = -435252

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
# b. float datatypes
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
# c. complex
x = 3+5j
y = 4j
z = -3j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [9]:
# 3. Sequence Datatypes
# a. List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [10]:
# a. list indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[0])
print(thislist[1])
print(thislist[2])

apple
banana
cherry

In [11]:
# a. list negative indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])
print(thislist[-2])
print(thislist[-3])

cherry
banana
apple

In [12]:
# a. list indexing Range
thislist = ["apple", "banana", "cherry", "mango", "kiwi", "orange"]
print(thislist[0:2])

['apple', 'banana']

In [13]:
# 3. Tuple Datatype
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [14]:
# 4. Mapping / Dictionary Datatype
thisdict = {"brand" : "Ford",
            "model" : "Mustang",
            "year"  :  1964
           }
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [15]:
# 4. Mapping / Dictionary Datatype
# another example
thisdict = {"brand" : "Ford",
            "model" : "Mustang",
            "year"  :  1964
           }
x = thisdict["model"]
print(thisdict)
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang

In [16]:
# 6. (Set Types)
# set, frozenset

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [17]:
# 6. (Set Types)
# set, frozenset
# add method to add any value or string

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [18]:
# 5. (Set Types)
# set, frozenset
# update method to add any value or string more than 1 times
# length for any set len method

thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)
print(len(thisset))

{'cherry', 'banana', 'orange', 'grapes', 'apple', 'mango'}
6

In [19]:
# 5. (Set Types)
# set, frozenset 
# remove or discard() method for remove any item from set

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [20]:
# 5. (Set Types)
# set, frozenset
# frozenset same as set but you cannot add or remove any value or string using add method. not changeable.

cities = frozenset(["karachi", "lahore", "islamabad"])
cities.remove("karachi")
print(cities)

AttributeError: 'frozenset' object has no attribute 'remove'

In [21]:
# 6. Boolean type bool:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [22]:
# 6 . bool type
a = 200
b = 300
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [23]:
# 7. Binary Types

# a. bytes
# single quotes.  b'hi "harry" how are you'
# double quotes.  b"hi 'harry' how are you"
# tripple quotes. b''' Hi 'harry' how are you '''

# create a string
# single quote
x = b'pthon mapping table character'
print(x)


# Double quote
y = b"pthon mapping table character"
print(y)

# tripple quote
z = b'''pthon mapping table character'''
print(z)

b'pthon mapping table character'
b'pthon mapping table character'
b'pthon mapping table character'

In [24]:
# 7. binary types
# b. bytearray

# create a string
string = "Python is interesting"
# string with encoding 'utf-8'
arr = bytearray(string, 'utf-8')
print(arr)

bytearray(b'Python is interesting')

In [25]:
# 8. Python Dates
import datetime
x = datetime.datetime.now()
print(x)

2022-03-27 19:43:23.941631

In [26]:
# 8. Python Dates
import datetime
x = datetime.datetime.now()

# extract year and Day from date
print(x.year)
print(x.strftime("%A"))

2022
Sunday

In [27]:
# 8. Python Dates
import datetime
x = datetime.datetime.now() # current date and time

year = x.strftime("%Y")  # extract year
month = x.strftime("%m") # extract month
day = x.strftime("%d")   # extract day

print("Day", day) 
print("Month", month)
print("Year", year)

time = x.strftime("%H:%M:%S") # extract time
print(time)

date_time = x.strftime("%m/%d/%Y, %H:%M:%S") # extract date and time
print("Date and Time", date_time)

Day 27
Month 03
Year 2022
19:43:24
Date and Time 03/27/2022, 19:43:24

In [28]:
# 8. Date type
# example

from datetime import datetime

# current date and time
now = datetime.now()
print("Date and Time", now)

t   = now.strftime("%H:%M:%S")
print("Time", t)

# mm-dd-YY format
s1 = now.strftime("%m-%d-%T")
print("S1", s1)

# dd-mm-YY format
s2 = now.strftime("%d-%m-%T")
print("S2", s2)

# Day-Month-YY format
s3 = now.strftime("%A-%B-%Y")
print("S3", s3)

Date and Time 2022-03-27 19:43:24.679172
Time 19:43:24
S1 03-27-19:43:24
S2 27-03-19:43:24
S3 Sunday-March-2022